{{#md-navbar name="Lint Roller"}}
  <li>{{#link-to 'linters'}}Linters{{/link-to}}</li>
{{/md-navbar}}

<div class="content">

  {{outlet}}

</div>

{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}
