<ul>
  {{#each model as |linter|}}
    <li><img src={{linter.logoRealUrl}} class='img__linterlogo'> <span class='txt__list--big'>{{linter.name}}</span> </li>
  {{/each}}
</ul>

{{md-btn icon='mdi-content-add' action='gotoNewLinter' buttonType='floating'}}
